.list{
    background-color: #ffffff;
    /* max-width: 600px; */
    width: 700px;
    padding:10px 20px;
    border-radius: 10px;
    margin-bottom: 40px;

  box-shadow: 0px 4.5px 4px 0px rgba(0,0,0,0.11);
}